//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

/* universal */
body {
  .no_sidebar {
    padding-left: 0 !important;
  }

  .error {
    color: red;
  }
}

/* header */
#app-header {
  #logout {
    text-decoration: none;
  }
}

/* home page */
#app-home{
  #import-data, #get-started {
    font-size: 2em;
  }
}

