//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

.no_sidebar {
  padding-left: 0!important;
}

.error {
  color: red;
}

#logout {
  text-decoration: none;
}