//@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

/* universal */
body {
  .no_sidebar {
    padding-left: 0 !important;
  }

  .error {
    color: red;
  }

  /* Hide number input spinners/arrows */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  th {
    white-space: nowrap;
  }
}



/* header */
#app-header {
  #logout {
    text-decoration: none;
  }
}

/* home page */
#app-home {
  #import-data, #get-started {
    font-size: 2em;
  }
}

