.row
  .col-lg-12
    .main-card.mb-3.card
      .card-body
        h5.card-title Select an article
        div
          select#article-select.mb-2.form-control
          button#article-search-btn.mt-1.btn.btn-primary Search

.row.mt-4
  .col-md-12
    #article-analytics-results.accordion-wrapper.mb-3
