.search-wrapper.active
  .input-holder
    input#overall-filter.search-input(type='number' placeholder='Number of top articles shown')
    button#overall-search-btn.search-icon
      span

.row.mt-4
  //- Top articles with the highest number of revisions
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles with the highest number of revisions
        table.mb-0.table.table-striped
          thead
            tr
              th.text-center #
              th.text-center Title
              th.text-center Number of Revisions
          tbody
            tr
              th.text-center(scope='row') 1
              td.text-center Mark
              td.text-center 1234
            tr
              th.text-center(scope='row') 2
              td.text-center Jacob
              td.text-center 123

  //- Top articles with the smallest number of revisions
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles with the smallest number of revisions
        table.mb-0.table.table-striped
          thead
            tr
              th.text-center #
              th.text-center Title
              th.text-center Number of Revisions
          tbody
            tr
              th.text-center(scope='row') 1
              td.text-center Mark
              td.text-center 2
            tr
              th.text-center(scope='row') 2
              td.text-center Jacob
              td.text-center 5

  //- Top articles edited by the largest group of registered users
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles edited by the largest group of registered users
        table.mb-0.table.table-striped
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat


  //- Top articles edited by the smallest group of registered users
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles edited by the smallest group of registered users
        table.mb-0.table.table-striped
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat

  //- Top articles with the longest history
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles with the longest history
        table.mb-0.table.table-striped
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat

  //- Top articles with the shortest history
  .col-lg-6
    .main-card.mb-3.card
      .card-body
        h5.card-title Top 2 articles with the shortest history
        table.mb-0.table.table-striped
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
