doctype html
html
  head
    title= title
    //- jQuery
    script(src='/assets/jquery.min.js')
    //- Bootstrap
    link(rel='stylesheet' href='assets/css/bootstrap.css')
    script(src='assets/js/bootstrap.bundle.js')
    //- Fontawesome
    link(rel='stylesheet', href='assets/fontawesome-free/css/all.min.css')
    //- Sweet Alert 2
    script(src='assets/sweetalert2.all.min.js')
    link(rel='stylesheet', href='assets/sweetalert2.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheet
  body
    include _header
    #content
      block content
    include _footer
    block script
